body {
    background-color: #faecd8;
    color: rgb(70, 67, 67);
}

h1 {
    color: rgb(133, 98, 33);
}

h3 {
    color: rgb(151, 104, 18);
}

h4 {
    color: rgb(126, 76, 47);
}

p {
    color: gray;
}